$color: rgb(255, 127, 255);
$size: 50px;
$sizeToTRanslate: 0;

h1 {
	text-align: center;
	margin: 50px auto;
	font-size: 7vw;
}

#main {
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin ring($color, $size) {
	border: $size/20 solid $color;
	border-radius: 50%;
	width: $size;
	height: $size;
	box-shadow: $size/150 $size/150 $size/100 darken($color, 50);
}

@for $i from 1 through 6 {
	$modifiedColor: adjust-hue($color, $i * 50);
	$modifiedSize: $size * $i;
	.ring#{$i} {
		@include ring($modifiedColor, $modifiedSize);
		transform: translateX($sizeToTRanslate);
		$sizeToTRanslate: $sizeToTRanslate - $modifiedSize / 2;
	}
}
